.buzz-hideprice-link,
.buzz-hideprice-link:link,
.buzz-hideprice-link:visited,
.buzz-hideprice-link:hover,
.buzz-hideprice-link:focus,
.buzz-hideprice-link:active {
    text-decoration: none;
    display: block;
    color: inherit;
}

.buzz-hideprice-message {
    font-weight: 600;
    text-align: center;
    background: #eeeeee;
    border: 1px solid #cccccc;
    color: #333333;
    font-size: 1.4rem;
    line-height: 1.7rem;
    padding: 5px;
    margin: 0 5px;
    transition: background 0.2s ease;
    text-decoration: none;
}

.buzz-hideprice-link:hover .buzz-hideprice-message {
    background: #333333;
    color: #eeeeee;
    border-color: #333333;
    text-decoration: none;
    cursor: pointer;
}