<?xml version="1.0"?>
<!--
    /**
    * @package   Buzz_Hideprice
    * @author    github.com/mauricio-tonny
    * @copyright Copyright (c)
    */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="buzz_hideprice" translate="label" sortOrder="999999">
            <label>Buzz</label>
        </tab>
        <section id="buzz_hideprice" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Hide Price</label>
            <tab>buzz</tab>
            <resource>Buzz_Hideprice::config_base</resource>
			<group id="available" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Hide Price</label>
                <field id="hide_add_to_cart" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Hide Add To Cart</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>                      
				</field>
                <field id="hide_add_to_cart_groups" translate="label" type="multiselect" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Hide from Groups</label>
                    <source_model>Buzz\Hideprice\Model\Config\Source\Customer\Group</source_model>
					<depends>
						<field id="hide_add_to_cart">1</field>
					</depends> 					
				</field>				
                <field id="hide_price" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Hide price</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>                      
				</field>
                <field id="hide_price_groups" translate="label" type="multiselect" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Hide from Groups</label>
                    <source_model>Buzz\Hideprice\Model\Config\Source\Customer\Group</source_model>
					<depends>
						<field id="hide_price">1</field>
					</depends> 					
				</field>
                <field id="hide_price_text" translate="label comment" sortOrder="5" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hide Price Text</label>
                    <depends>
                        <field id="hide_price">1</field>
                    </depends>
                    <comment>Text instead of the price, if price is hidden</comment>
                </field>
                <field id="enable_fallback" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Fallback</label>
                    <depends>
                        <field id="hide_price">1</field>
                    </depends>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>        
                    <comment>If enabled, it updates the cache (hard refresh) when the client logs in/logs out.</comment>              
				</field>
            </group>
            <group id="table_configure" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>How to configure ?</label>
                <frontend_model>Buzz\Hideprice\Block\Adminhtml\System\Config\Documentation</frontend_model>
            </group>
        </section>		
    </system>
</config>